{{define "content"}}
{{template "components/hero" .}}
{{template "components/services-bar" .}}
{{template "components/advantage" .}}
{{template "components/metrics" .}}
{{template "components/account-manager" .}}
{{template "components/why-us" .}}
{{template "components/process" .}}
{{template "components/services" .}}
{{template "components/warehousing" .}}
{{template "components/industries" .}}
{{template "components/ports" .}}
{{template "components/trusted-by" .}}
{{template "components/carrier-partner" .}}
{{template "components/testimonials" .}}
{{template "components/contact" .}}
{{template "components/track-dialog" .}}
{{end}}
